{
    "extends": "eslint:recommended",
    "env": {
       "node": true
    },
    "plugins": [
        "prettier"
    ],
    "rules": {
        "no-console": "off",
        "prettier/prettier": [
            "error"
        ]
    }
}
