# Set default behavior to automatically normalize line endings
* text=auto

# Force batch scripts to always use CRLF line endings
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Force bash scripts to always use LF line endings
*.sh text eol=lf

# Frontend files
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf

# Config files
*.yml text eol=lf
*.yaml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf